* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
@font-face {
    src: url(fonts/Touche\ W03\ Bold.ttf);
    font-family: "Touche Bold";
}
@font-face {
    src: url(fonts/Touche\ W03\ Light.ttf);
    font-family: "Touche Light";
}

@font-face {
    src: url(fonts/Touche\ W03\ Regular.ttf);
    font-family: "Touche Regular";
}

@font-face {
    src: url(fonts/Touche\ W03\ Semibold.ttf);
    font-family: "Touche Semibold";
}


.main-div2 {
    margin:0 auto;
    width:90%;
    height:auto;
    margin-bottom: 10%;
}

.header-div {
    border: 2px hidden;
    margin:0 auto;
    text-align: center;
    width:42%;
    margin-top:60px;
    margin-bottom:60px;
    
}
div.header-div .text-1 {
    color:rgb(122,122,122);
}

.what-we-do {
    margin-bottom: 20px;
    font-family: "Touche Bold";
    
    
}

.text-1{
    font-family: "Touche Regular";
    font-weight:600;
}
#p-service {
    margin:20px auto;
    color: rgb(253,155,12); 
    border: 2px solid rgb(253,155,12); 
    border-radius: 3px;
    padding: 4px 3px;
    width:100px;
    font-family: "Touche Regular";
    font-weight:600;
    
}

.phone-image {
   
     margin:auto;
    
}
.device{
    width:100%;
    height:auto;
}
div.clearfix p.text-info{
    color: #9A9A9A !important;
}
.p-left-info {
    text-align: right;

}

.info-left {
    padding-top:80px;
    
}
.info-right {
    padding-top:80px;
    
}
.clearfix {
    overflow:auto;
}
.icon-1 {
    float:right;
    right:0;
    width:110px;
    height: 110px;
    padding-left:30px;
}

.icon-2 {
    float:right;
    right:0;
    width:110px;
    height: 110px;
    padding-left:30px;
}
.icon-3 {
    float:right;
    right:0;
    width:110px;
    height: 110px;
    padding-left:30px;
}
.icon-4 {
    float:left;
    left:30px;
    width:110px;
    height: 110px;
    padding-right:30px;
}
.icon-5 {
    float:left;
    left:30px;
    width:110px;
    height: 110px;
    padding-right:30px;
}
.icon-6 {
    float:left;
    left:30px;
    width:110px;
    height: 110px;
    padding-right:30px;
}

.clearfix{
    overflow:auto;
    width:100%;
    margin-bottom:60px;
}

.font-headline {
    font-family: "Touche Bold";
    font-size: 17px;
    
}

.font-text {
    font-family: "Touche Regular";
    font-size: 14px;
    font-weight: 600;
    
}

@media only screen and (max-width: 1199px) and (min-width: 575px){
    div.phone-image.col-sm-3{
        display:none;
    }
    div.row {
        justify-content:center;
    }
}
/*ATTENTION PLEASE! Below this warning, Hakan's 2nd page starts!!*/
/* /////// DELETE THE BORDERS UNNECESSARY !!! //////*/
.outside-div-1 {
    /*border: 1px black solid;*/
    width:80%;
    height:auto;
    margin:0 auto;
    display:flex;
    justify-content:center;
}

/* FIRST COLUMN DOWN BELOW */
.attached-columns-1 {
    /*border: 1px black solid;*/
    width:40%;

}
.headline-1 {
    /*border: 1px black solid;*/
}

div.headline-1 h4{
    font-family: "Touche Bold";
    color:rgb(51,51,51);
    line-height: 35px;
}
.span-best {
    background-color: rgb(252,147,49);
    padding:4px 0;
    color:white;
    font-family: "Touche Semibold";
}
.content-1 {
    /*border: 1px black solid;*/
    color:rgb(85,85,85);
    font-family: "Touche Regular";
    font-weight: 600;
    padding-top:30px;
}

.footer-1{
    width: 22%;
    display:flex;
    justify-content:space-between;
    margin-left: 2%;
}

.btn-div{
    width:auto;
    height: auto;
    margin-right: 17%;
    margin-left: 30px;
    
}
.column-1-btn {
    width:40%;
    border: 1px hidden;
    border-radius: 4px;
    background-color:rgb(254,150,2);
    width:57px;
    height:27px;  
    display: flex;
    align-items: center;
}
.btn-inside-btn {
    border: 1px solid rgb(249,209,153);
    border-radius: 4px;
    background:white;
    width: 45%;
    height: 90%;
    margin-top:1px;
    margin-bottom:1px;
    margin-left: 1px;
    box-shadow:3px 0 2px rgb(225,134,8);
}

.pricing-table {
    border: 1.2px solid rgb(254,150,2);
    border-radius: 2px;
    width: 120px;
    text-align: center;
    color:rgb(254,150,2);
    font-family: "Touche Semibold";
    font-size: 14px;
    padding: 5px 0; 
}
.p-monthly{
    color:rgb(51,51,51);
    font-family: "Touche Semibold";
}
.p-yearly {
    color:#AAAAAA;
    font-family: "Touche Semibold";
}



/* SECOND COLUMN DOWN BELOW */
.attached-columns-2 {
   
    border-radius: 2px;
    width: 30%;
    padding:15px 0;
    
}

.headline-2 {
    border: 1px black solid;
}

.img-headline-2 {
    width:60px;
    height:60px;
}
div.headline-2 h5 {
    font-family: "Touche Bold";
    color: #555555;
}
.content-2 {
    border: 1px black solid;
    height: auto;
    padding:10px;
}

.footer-2 {
    border: 2px solid  rgb(254,150,2);
    text-align: center;
    background-color: rgb(254,150,2);
    color: white;
    font-family: "Touche Regular";
    font-weight: 600;
    border-radius: 4px;
 
}
#get-started {
    padding-top:10px;
    
}
.line-through {
    color:rgb(191,191,191);
}
.dolar-sign {
    font-size: 25px;
    font-family: "Arial";
    padding: 5px;
    margin-top: 12px;
 }
 .money-size {
    font-size: 60px;
    font-family: "Touche Regular" ;
    font-weight: 600;
    display: flex;
 }
 
 #font-for-p {
     font-family: "Touche Regular";
     font-weight: 600;
     padding-bottom: 30px;
     margin-top: -30px;
     color: rgb(170,170,170);
 }
 #most-popular {
     color: rgb(170,170,170);
 }
 div.list-2 p {
     font-family: "Touche Regular";
     color:rgb(87,87,87);
 }

/* THIRD COLUMN DOWN BELOW */
.attached-columns-3 {
    
    border-radius: 2px;
    width: 30%;
    padding:45px 0;  

}

.headline-3 {
    border: 1px black solid;
    
    
}
.img-headline-3 {
    width:70px;
    height:70px;
}

.content-3 {
    border: 1px black solid;
    height: auto;
    padding: 10px;
    
}
.footer-3 {
    border: 2px  solid #DEE2E6;
    text-align:center;
    font-family: "Touche Regular";
    font-weight: 600;
    border-radius: 4px;
    
}
#get-started-3 {
    
    padding-top: 10px;
    color: rgb(52,58,64);
}
div.headline-3 h5 {
    font-family: "Touche Bold";
    color: #555555;
}

div.list-3 p {
    font-family: "Touche Regular";
    color:rgb(87,87,87);
}


 